* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: rgb(251, 249, 227);
  background: linear-gradient(
    180deg,
    rgba(251, 249, 227, 1) 20%,
    rgba(255, 224, 202, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
  color: #0a0a0a;
}
.logo {
  color: #0a0a0a;
  height: 45px;
  width: 155px;
  font-family: 'Montserrat Alternates', sans-serif;
  border-bottom: 1px solid #0a0a0a;
}
.logo-top {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 12px;
  margin-bottom: -5px;
}
.logo-bottom {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}
