* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: rgb(251, 249, 227);
  background: linear-gradient(180deg, #fbf9e3 20%, rgba(255, 224, 202, 1) 100%);
  background-repeat: no-repeat;

  color: #0a0a0a;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.1rem;
}
h2 {
  font-size: 2.5rem;
  font-weight: 300;
}
h3 {
  font-size: 1.5rem;
  font-weight: 300;
}
strong {
  font-weight: 500;
}
img {
  width: 100%;
  border-radius: 1rem;
}
.center {
  text-align: center;
}
.container {
  margin: 2rem auto;
  padding: 0.1rem;
  width: fit-content;
  border-bottom: 1px solid #0a0a0a;
}

/* Logo */

.logo {
  color: #0a0a0a;
  height: 45px;
  width: 155px;
  font-family: 'Montserrat Alternates', sans-serif;
  border-bottom: 1px solid #0a0a0a;
}
.logo-top {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 12px;
  margin-bottom: -5px;
}
.logo-bottom {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Navigatiion */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: #f4f2d3;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-middle {
  display: flex;
  list-style: none;
}
.nav-middle li a {
  color: #0a0a0a;
  font-size: 1.8rem;
  padding: 0.9rem 2rem;
  font-weight: 300;
  transition: all 0.5s;
}
.nav-middle li a:hover {
  color: #727171;
}
.icon {
  font-size: 1.8rem;
  color: #0a0a0a;
  cursor: pointer;
  transition: color 0.5s;
}
.icon:hover {
  color: #727171;
}

@media screen and (max-width: 870px) {
  .nav-middle {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navigation {
    padding: 1rem 3rem;
  }
}

/* Banner */

.banner-heading {
  margin: 22rem 15rem;
}
.banner-image-container {
  height: 30%;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1rem;
}
@media screen and (max-width: 870px) {
  h1 {
    font-size: 3rem;
  }
  .banner-heading {
    margin: 15rem 10rem;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.4rem;
  }
  .banner-heading {
    margin: 10rem 6rem;
  }
}

.media {
  display: flex;
  width: 90%;
  margin: 10rem auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
.media-heading {
  margin-top: 10rem;
}
.media-container {
  width: 39rem;
  margin-bottom: 4rem;
}
.media-container img {
  height: 22rem;
  border-radius: 1rem;
}
.media-container p {
  font-size: 1.6rem;
  font-weight: 300;
}
.media-container p span {
  font-weight: 400;
}
@media screen and (max-width: 870px) {
  .media-heading {
    font-size: 2rem;
  }
}
.partners h1 {
  font-size: 3.5rem;
}
.partner-heading {
  margin: 3rem 15rem;
}
.partners-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}
.partners-logo {
  width: 8rem;
  margin: 0.1rem 0.5rem;
}

@media screen and (max-width: 870px) {
  .partners h1 {
    font-size: 2.4rem;
  }
  .partner-heading {
    margin: 5rem 5rem;
  }
}
@media screen and (max-width: 600px) {
  .partners h1 {
    font-size: 2rem;
  }
}
