<nav class="navigation">
  <a href="#">
    <div class="logo">
      <h1 class="logo-top">SFW</h1>
      <small class="logo-bottom">sustainable future</small>
    </div>
  </a>
  <ul class="nav-middle">
    <li><a href="#">Work</a></li>
    <li><a href="#">Clients</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <div class="menu-icon">
    <i class="fa-solid fa-bars icon"></i>
  </div>
</nav>
